.card {
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  place-items: center;
  font-size: 20px;
  position: relative;
}

.card p {
  cursor: pointer;
}

.del_btn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  padding: 0;
  background: transparent;
  color: #000000;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
}

.del_btn:focus {
  outline: solid 0 transparent;
  box-shadow: 0 0 0 2px #858c91;
}

.del_btn::after,
.del_btn::before {
  position: absolute;
  top: 15%;
  left: calc(50% - 0.0625em);
  width: 0.125em;
  height: 70%;
  border-radius: 0.125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: "";
}

.del_btn::after {
  transform: rotate(-45deg);
}
