.form {
  padding: 20px;
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  gap: 20px;
}

.form input {
  padding: 10px;
  border-radius: 30px;
  background-color: #d9d9d9;
  border: none;
}

.form button{
  width: 20%;
  background-color: #f5982a;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color .3s;
}

.form button:hover{
  background-color: #c9740c;
}